body {
	background-color: black;
}

#time {
	padding-top: 25px;
	padding-left: 7px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 120px;
	text-align: left;
}

#date {
	padding-top: 25px;
	padding-left: 25px;
	color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 40px;
	text-align: left;
}

#footer {
	position: fixed;
	bottom: 0;
	width:100%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	font-size: 30px;
	color: white;
	padding-bottom: 2cm;
}

#logo {
	position: relative;
	top: 5px;
	height: 30px;
}
